@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&display=swap');
:root{
    --background-color: #292c43;
    --pink-color:#ee7422;
    --secondary-color:#bbbbbb;
    --bg-color-of-lists-in-skills-section: rgba(78, 78, 112, 0.863); 
    --progess-bar-color:rgb(235, 9, 159);
    --card-bg-color:#444661;
    --bg-color-for-form-inputs:rgb(119, 109, 109);
}
*{
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-weight:800px;
}
body{
    background-color:var(--background-color)!important;
}
.nav_section,.navbar-brand{
    font-size:32px;
    color: white !important;

}
.nav_section .navbar-brand span {
             color:var(--pink-color)
}
.nav_section .navbar-nav li{
    margin:0px 8px;
}
.nav_section .navbar-nav li a{
    color:white !important ;
    font-size:15px;
}
.nav_section .navbar-nav .nav-link::before{
    content: '';
    width:0px;
    height:0px;
    background-color: white;
    position:absolute;
    bottom:7px;
    transition:0.5s;
}
.nav_section .navbar-nav .nav-link:hover::before{
    content: '';
    width:7px;
    height:7px;
    position:absolute;
    bottom:7px;
    background-color:white;
    transition:0.5s;
  }
  
.hero_section .row{
    display:flex;
    align-items:center;
    height:100vh;
}
h1,h2,h3,h4,h5,h6, p,span,td,a{
    cursor:pointer;
}
.hero_section .row h1,h2,h3,p{
    color:white;
}
.hero_section .row h3{
    font-size:15px;
    font-weight:300;
    margin-bottom:15px;
}
.hero_section .row h3::after{
    content:'';
    position:absolute;
    text-align:center;
    top:10px;
    width:90px;
    height:2px;
    background-color: white;
    margin-left:6px;
}
.hero_section .row h1{
    font-size:65px;
    font-weight:800;
}
.hero_section .row h2{
    font-size:20px;
    font-weight:100;
    margin:8px 0px;

}
.hero_section .row p{
    font-size:13px;
    margin-top:13px;
    line-height:21px;
    color:var(--secondary-color);
}
.hero_section .row button:hover{
    animation:swing;
    animation-duration: 0.5s;
    background:white;
    color:black;
    border-color:white;
}
.hero_section .row button{
    border-radius:10px;
    font-size:19px;
    color:white;
    background-color: var(--pink-color);
    border :3px solid var(--pink-color);
    width:113px;
    font-family:'Poppins',sans-serif;
    margin-top:10px;

}


.hero_section .row img{
    width:80%;
    border-radius:50%;
    padding:6px;
    background-color:rgb(247, 12, 188);

}

canvas.particles-js-canvas-el{
    position:absolute;
    top:0;
    width:100%;
    height: 100% !important;
    z-index:-1000;
    right:0;
    left:0;
    margin:0px;
}
@media (max-width:1280px) and (min-width:800px)
{
    .hero_section .row h1{
        font-size:58px;
    }
}
@media (max-width:800px) and (min-width:720px)
{
    .hero_section .row h1{
        font-size:42px;
    }
    .hero_section .row h2{
        font-size:15px;

    }
    .hero_section .row p{
        font-size:11px;
    }
    .hero_section .row h3{
        font-size:15px;
    }
    .hero_section .row button{
        font-size:15px;
    }
}
@media (max-width:720px) and (min-width:540px)
{
    .hero_section
    {
        margin:55px 0px;
    }
    .hero_section .row h1{
        font-size:46px;
        text-align:center;
    }
    .hero_section .row h2{
        font-size:15px;
        text-align:center;

    }
    .hero_section .row p{
        font-size:11px;
        text-align:center;
    }
    .hero_section .btn_container
    {
        justify-content:center;
        text-align:center;
    }

    
    .hero_section .row h3{
        font-size:18px;
        text-align:center;
        margin-bottom:0px;
    }
     .hero_section .row h3::after{
        width:0px;
    } 
  
    .hero_section .btn_container button{
        font-size:15px;
        text-align:center;
        width:100px;
        height:43px;
    }
    .hero_section img{
        width:60%;
        margin-top:20px;
    }
}
/* ABOUT US*/
.about_section{
    background-color: #292c43;
    padding:170px 0px;
}
.about_section #heading{
    font-weight:600;
    font-size:40px;
    letter-spacing:0.5s;
    line-height:57px;
}
.about_section .lets_talk{
    color:white;
    font-weight:400;
    margin-top:14px;
}
.about_section #info_gmail{
    font-weight:600;
    font-size:15px;
    color:var(--pink-color);
    margin-top:35px;
    word-spacing:6px;
}
.about_section .contact_info{
    margin-top:15px;
}
.about_section .contact_info h5{
    color:white;
    font-size:15px;
    font-weight:400;
    word-spacing:6px;
}
.about_section .about_me_right_section #txt{
    font-size:15px;
    margin-top:13px;
    line-height:25px;
    color:var(--secondary-color);
}
.about_section .about_me_right_section hr{
    margin:0px;
    width:6rem;
    border:0.5px solid var(--pink-color);
}
.about_section .about_me_right_section button{
    border-radius:7px;
    font-size:15px;
    color:white;
    background-color:var(--pink-color);
    margin-top:10px;
    border:3px solid var(--pink-color);
    font-family:'Poppins',sans-serif;
}
.about_section .about_me_right_section table td{
    color:white;
    border:none;
    font-size:13px;

}
.about_section .about_me_right_section button:hover{
    animation:swing;
    animation-duration:0.5s;
}
@media (max-width:993px ) and (min-width:768px){
    .about_section .about_me_right_section #txt{
        font-size:12px;
    }
    .about_section #heading{
        font-size:30px !important;
    }
}
/* skill_section*/
.skills_section {
    padding:100px 0px;
}
.skills_section_left_section{

    display:flex;
    flex-direction:column;
    justify-content: center;


}
.skills_section #heading{
    font-weight:400;
    font-size:50px;
}
.skills_section hr{
    width:6rem;
    margin:13px 0px;
    border:0.5px solid var(--pink-color);
}
.skills_section p{
    font-size:13px;
    color:var(--secondary-color);
}
.skills_section .social_media_icons  .list-group-item{
    border:none;
    color:white;
    border-radius:0px;
    margin:5px 0px;
    width:200px;
    border-left: 2px solid var(--pink-color);
    font-size:14px;
    background:var(--bg-color-of-lists-in-skills-section);


}
.skills_section .social_media_icons  .list-group-item a{
    transition:0.5s;
}
.skills_section .social_media_icons .list-group-item a:hover{
    margin-left:10px;
}
.skills_section_right_section .each_skills{
    margin:25px 0px;
     
}
.skills_section_right_section .each_skills span{

color:white!important;
font-size:14px;


}

.skills_section_right_section .each_skills .progress{
    background-color:var(--bg-color-of-lists-in-skills-section);
    border-radius:100px;
    margin-top:3px;
    height:10px;

}
.skills_section_right_section .each_skills .progress-bar{
    color:transparent;
    background-color:var(--progess-bar-color)!important;
}
/* profile_section*/
.portfolio_section{
    background:#292c43 ;

    padding:170px 0px;

}
.portfolio_section .nav-tabs{
    border:none;
    width:30%;
    text-align:center;
}
.portfolio_section .nav-tabs .nav-link.active{
    border:none;
    color:white;
    background:transparent;
    border-bottom:2px solid var(--pink-color)!important;
}
.portfolio_section .nav-tabs .nav-link.active:hover{

    border-bottom:2px solid var(--pink-color)!important;

}
.portfolio_section .nav-tabs .nav-items.show .nav-link{
    font-weight:400;
    font-size:14px;
    background:transparent!important;
}
.portfolio_section .nav-tabs .nav-link:hover{
    border:none;
}
.portfolio_section .tab-content .card-img-top{
    border:2px solid white;
}
/* blog_section*/
.blogs_section{
    background:#292c43;
    padding-bottom:170px;

}
.blogs_section .card{
    background:var(--card-bg-color);

}
.blogs_section .card:hover{
    animation:pulse;
    animation-duration:0.5s;
}
.blogs_section .card-body .title{
    font-size:22px;
    font-weight:500;
}
.blogs_section .card-body .date{
    font-size:11px;
}
.blogs_section .card-body .date span{
    color:var(--pink-color);
}
.blogs_section .card-body .txt{
    font-size:12px;
    color:var(--secondary-color);
}
.blogs_section .card-body a{
    color:var(--pink-color);
    font-size:13px;
}
.blogs_section #heading{
    margin-top:25px;
}
.blogs_section .card-body{
    margin-bottom:55px;
}
/* contact section*/
.contact_section{
    background:#292c43;
    padding-top:170px 0px;

}
.contact_section .heading{
    font-weight:600;
    font-size:50px;

}
.contact_section hr{
    border:0.5px solid var(--pink-color);
    width:6rem;
    margin:12px 0px;
}
.contact_section .txt{
    font-size:13px;
    color:var(--secondary-color);
}
.contact_section form .form-control{

        color:white;
        background:var(--bg-color-for-form-inputs);
        border:2px solid var(--bg-color-for-form-inputs);
        border-radius:0px;
}
.contact_section form button{
    color:white;
    width:100px;
    font-size:15px;
    background:var(--pink-color);
    border:2px solid var(--pink-color);
}
.contact_section form button:hover{
    animation:swing;
    animation-duration:0.5s;

}
.contact_section ul li{
    color:white;
    font-size:15px;
    margin-bottom:12px;
}
.contact_section ul li .fa{
    color:var(--pink-color);

}
@media(max-width:991px) and (min-width:768px)
{
    .contact_section .heading{
        font-size:42px;
    }
}
/*footer-area*/
.footer-area{
        background:#292c43;
        padding:25px 0px;
        border-top:2px solid rgba(123, 80, 80, 0.515);


}
 .footer-area .navbar-brand{
    font-size:23px;
}
.footer-area p{
    font-size:12px;
    margin-top:13px;
    color:var(--secondary-color);
}
.footer-area  .logo-area .fa{
    color:var(--pink-color);
    font-size:17px !important;
    border:2px solid var(--pink-color);
    padding:10px;
    height:40px;
    width:40px;
    display:flex;
    display:inline-block;
    text-align:center;
    justify-content:center;
    margin-right:5px;
    border-radius:100%;

}
.footer-area .logo-area .fa:hover{
    animation:swing;
    animation-duration:0.5s;
    background:white;
}
.footer-area .row .column .heading{
    font-weight:400!important;
    color:white;
    font-size:21px;

}
.footer-area .list-group .list-group-item{
    margin:-3px 0px;
    color:white;
     transition:0.5s !important
}
.footer-area .list-group .list-group-item:hover i{
    padding-right:10px;
}
.footer-area .list-group .list-group-item i{
    font-size:10px;
    color:var(--pink-color);
    transition:0.5s;
}


@media (max-width:767px) and(min-width:500px){
    .footer-area .links{
        margin-bottom:30px;
    }
    .footer-area .row .column .heading{
        font-size:17px !important;
    }
    .portfolio_section .list-group .list-group-item{
        font-size:13px;


    }

    .portfolio_section .list-group{
        margin-bottom:30px;
    }
} 